
a(href="http://localhost:3000/")="Home"
|
|
a(href="http://localhost:3000/quiz")="Start a Quiz"
|
|
a(href="http://localhost:3000/users")="List of Users"
|
|


if loggedin
	|Currently logged in as:
	|
	a(href="http://localhost:3000/users/"+user.url)=user.username
	br
	br
else
	form#thelogin(action="/login" method="POST")
		|Username: 
		input#username(type="text" name="username" required)
		|
		|Password: 
		input#password(type="password" name="password" required)
		button(type="submit")="Submit"